*{
    margin:0;
    padding:0;
}
body,html{
    width:100%;
    height:100%;
}
.contens{
    height:100%;
    width:100%;
}
#left{
    background:red;
    height:100%;
}
#right{
    background:green;
    height:100%;

}